<div class="container">
  <h1>API Call Service</h1>
  <form #userForm="ngForm" (ngSubmit)="addCustomer(userForm.value)">
    <input type="text" placeholder="Enter name" name="name" ngModel>
    <br><br>
    <input type="text" placeholder="Enter email" name="email" ngModel>
    <br><br>
    <input type="text" placeholder="Enter phone" name="phone" ngModel>
    <br><br>
    <input type="text" placeholder="Enter address" name="address" ngModel>
    <br><br>
    <button>Add Customer</button>
  </form>
</div>
