<app-base-page
  [pageTitle]="'Directivas'"
  [steps]="steps"
>
  <!--WHATSECTION-->
  <app-section
    id="'whatSection'"
    [sectionId]="'whatSection'"
    [sectionLabel]="'¿Qué son las directivas'"
    [sectionTitle]="'¿Qué son las directivas en Angular 20?'"
    [sectionContent]="''"
  >
    <p>Una directiva es una instrucción que le dice a Angular cómo manipular el DOM (Document Object Model). En otras palabras, extiende el comportamiento de los elementos HTML o de tus componentes personalizados.</p>
    <p>Las directivas pueden:</p>
    <ul>
      <li>Cambiar la apariencia de un elemento</li>
      <li>Cambiar su comportamiento</li>
      <li>Crear estructuras dinámicas</li>
    </ul>
  </app-section>
  <!--TIPOSDEDIRECTIVASSECTION-->
  <app-section
    id="'tiposSection'"
    [sectionId]="'tiposSection'"
    [sectionLabel]="'Tipos de directivas'"
    [sectionTitle]="'Tipos de directivas'"
    [sectionContent]="''"
  >
    <h5>1. Directivas de componente (Component directives)</h5>
    <p>Son directivas con plantilla.</p>
    <p>De hecho, todo componente en Angular es una directiva + una vista.</p>
    <ul>
      <li>Tienen selector</li>
      <li>Ofrecen HTML propio</li>
      <li>Controlan una plantilla completa</li>
    </ul>
    <h5>2. Directivas estructurales (Structural directives)</h5>
    <p>Cambian la estructura del DOM: agregan, quitan o reemplazan elementos.</p>
    <p>Siempre llevan un asterisco <code>*</code> cuando se usan.</p>
    <p>Ejemplo: *ngIf, *ngFor, *ngSwitch</p>
    <p>Ejemplo de una directiva estructural personalizada:</p>
    <app-sc-code-snippet
        [code]="directive01Example"
        language="typescript"
      >
      </app-sc-code-snippet>
      <p>Uso:</p>
      <app-sc-code-snippet
        [code]="directive02Example"
        language="typescript"
      >
      </app-sc-code-snippet>
    <h5>3. Directivas de atributo (Attribute directives)</h5>
    <p>Modifican apariencia o comportamiento de un elemento existente. No cambian la estructura del DOM.</p>
    <p>Siempre llevan un asterisco <code>*</code> cuando se usan.</p>
    <p>Ejemplo: ngClass, ngStyle, ngModel</p>
    <p>Ejemplo de una directiva de atributo personalizada:</p>
    <app-sc-code-snippet
        [code]="directive03Example"
        language="typescript"
      >
      </app-sc-code-snippet>
      <p>Uso:</p>
      <app-sc-code-snippet
        [code]="directive04Example"
        language="typescript"
      >
      </app-sc-code-snippet>
  </app-section>
  <!--IFSECTION-->
  <app-section
    id="'ifSection'"
    [sectionId]="'ifSection'"
    [sectionLabel]="'@if'"
    [sectionTitle]="'1. Mostrando contenido condicional con @if (*ngIf)'"
    [sectionContent]="''"
  >
    <app-sc-code-snippet
      [code]="directive05Example"
      language="typescript"
    >
    </app-sc-code-snippet>
    <app-sc-code-snippet
      [code]="directive06Example"
      language="typescript"
    >
    </app-sc-code-snippet>
  </app-section>
  <!--FORSECTION-->
  <app-section
    id="'forSection'"
    [sectionId]="'forSection'"
    [sectionLabel]="'@for'"
    [sectionTitle]="'2. Repitiendo contenido con @for (*ngFor)'"
    [sectionContent]="''"
  >
    <app-sc-code-snippet
      [code]="directive07Example"
      language="typescript"
    >
    </app-sc-code-snippet>
  </app-section>
  <!--SWITCHSECTION-->
  <app-section
    id="'switchSection'"
    [sectionId]="'switchSection'"
    [sectionLabel]="'@switch'"
    [sectionTitle]="'3. Mostrando contenido condicional con @switch (*ngSwitch)'"
    [sectionContent]="''"
  >
    <app-sc-code-snippet
      [code]="directive08Example"
      language="typescript"
    >
    </app-sc-code-snippet>
  </app-section>
  <!--NGCLASSSECTION-->
  <app-section
    id="'ngclassSection'"
    [sectionId]="'ngclassSection'"
    [sectionLabel]="'@ngClass'"
    [sectionTitle]="'4. ngClass'"
    [sectionContent]="''"
  >
    <p>Este <code>div</code> es inicialmente guardable (true), no-cambiado (false) y especial (true).</p>
    <p>Saveable("Guardable")</p>
    <p>Unchanged("Sin cambios")</p>
    <p>Special("Especial")</p>
  </app-section>
  <!--NGSTYLESECTION-->
  <app-section
    id="'ngstyleSection'"
    [sectionId]="'ngstyleSection'"
    [sectionLabel]="'@ngStyle'"
    [sectionTitle]="'4. ngStyle'"
    [sectionContent]="''"
  >
    <p>Este <code>div</code> es inicialmente en cursiva, peso normal, y extra-large.</p>
  </app-section>
  <!--NGMODELSECTION-->
  <app-section
    id="'ngmodelSection'"
    [sectionId]="'ngmodelSection'"
    [sectionLabel]="'@ngModel'"
    [sectionTitle]="'4. ngModel'"
    [sectionContent]="''"
  >
    <p>Binding en ambas direcciones con <code>ngModel</code>.</p>
    <input>
    <p>{{a}}</p>
  </app-section>
  <!--NGONINITSECTION-->
  <app-section
    id="'ngoninitSection'"
    [sectionId]="'ngoninitSection'"
    [sectionLabel]="'@ngOnInit'"
    [sectionTitle]="'4. ngOnInit'"
    [sectionContent]="''"
  >
    <p>Revisar el código para ver cómo se implementa.</p>
  </app-section>
  <!--NGONINITSECTION-->
  <app-section
    id="'ngondestroySection'"
    [sectionId]="'ngondestroySection'"
    [sectionLabel]="'@ngOnDestroy'"
    [sectionTitle]="'4. ngOnDestroy'"
    [sectionContent]="''"
  >
    <p>Revisar el código para ver cómo se implementa.</p>
    <p>Angular destruye el componente cuando navegas fuera de la ruta, incluso si el cambio está controlado por un guard.</p>
    <p>Ver el guard: "CanDeactivate".</p>
  </app-section>

</app-base-page>
