<app-base-page
  [pageTitle]="'Manejo de eventos'"
  [steps]="steps"
>
  <!--WHATSECTION-->
  <app-section
    id="'whatSection'"
    [sectionId]="'whatSection'"
    [sectionLabel]="'¿Qué es Rxjs?'"
    [sectionTitle]="'¿Qué es Rxjs?'"
    [sectionContent]="'Es una librería para programación reactiva que permite manejar flujo de datos asíncronos y eventos de forma declarativa, mediante el uso de Observables.'"
  >
    <p>RxJS te ayuda a trabajar con datos que cambian con el tiempo, como:</p>
    <ul>
      <li>Datos de APIs</li>
      <li>Respuestas HTTP</li>
      <li>Eventos del usuario</li>
      <li>Temporizadores</li>
      <li>Streams en tiempo real</li>
    </ul>
    <p>Todo esto lo hace usando un modelo basado en streams (flujos) y observadores.</p>
  </app-section>
  <!--XSSSECTION-->
  <app-section
    id="'conceptosPrincipalesSection'"
    [sectionId]="'conceptosPrincipalesSection'"
    [sectionLabel]="'Conceptos Principales'"
    [sectionTitle]="'Conceptos Principales en Rxjs'"
    [sectionContent]="''"
  >
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Concepto</th>
          <th scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Observable</th>
          <td>Es la fuente del flujo de datos. Emite valores (sincrónicos o asincrónicos) a lo largo del tiempo.</td>
        </tr>
        <tr>
          <th scope="row">Observer (observador)</th>
          <td>Es el "suscriptor" que recibe los valores emitidos por el Observable.</td>
        </tr>
        <tr>
          <th scope="row">Subscription (suscripción)</th>
          <td>Representa la conexión entre el Observable y el Observer; se puede cancelar con .unsubscribe().</td>
        </tr>
        <tr>
        <th scope="row">Operators (operadores)</th>
          <td>Son funciones que permiten transformar, filtrar, combinar o manipular los datos emitidos por los Observables. Ej: map, filter, mergeMap, switchMap, etc.</td>
        </tr>
        <tr>
          <th scope="row">Subject</th>
          <td>Es un tipo especial de Observable que también puede emitir valores manualmente. Actúa como Observable + Observer a la vez.</td>
        </tr>
        <tr>
          <th scope="row">Behavoir subject</th>
          <td>Similar a Subject, pero almacena el último valor emitido, de modo que los nuevos suscriptores lo reciben inmediatamente.</td>
        </tr>
      </tbody>
    </table>
  </app-section>
  <!--DNSSECTION-->
  <app-section
    id="'ejemploSection'"
    [sectionId]="'ejemploSection'"
    [sectionLabel]="'Ejemplo'"
    [sectionTitle]="'Ejemplo'"
    [sectionContent]="'Security is a critical aspect of web development. In Angular, there are several built-in features and best practices to help ensure your application is secure against common vulnerabilities.'"
  >
    <app-sc-code-snippet
      [code]="v01rxjsExample"
      language="typescript"
    >
    </app-sc-code-snippet>

    <p>Resultado:</p>
    <ul><li *ngFor="let user of users">{{ user.name }}</li></ul>
  </app-section>
</app-base-page>
