html {
  scroll-behavior: smooth; /* animaci칩n suave al desplazarse */
}

section {
  padding: 4rem 2rem;
}

/* NUEVO: para hacer la barra lateral fija y visible */
.stepper-wrapper {
  position: sticky;
  top: 60px;
  width: 200px;
  max-height: calc(100vh - 150px); /* 150px = altura aproximada del footer */
  overflow-y: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos existentes */
.stepper {
  position: relative;
  margin-top: 40px;
  margin-left: 20px;
  padding-left: 17px;
  border-left: 2px solid #dee2e6;
}

.step {
  position: relative;
  margin-bottom: 2rem;
}

.step:last-child {
  margin-bottom: 0;
}




.step.completed .step-number {
  background-color: #198754; /* Verde Bootstrap */
}

.step.active .step-number {
  background-color: #0d6efd; /* Azul Bootstrap */
}

.step .step-number {
  background-color: #adb5bd; /* Gris inactivo */
  color: white;
}



/* Estilo cuando el paso est치 activo */
.step.active .step-label {
  font-weight: 600;          /* Negrita m치s fuerte */
  color: #000000;            /* Azul Bootstrap (puedes cambiarlo) */
  background-color: rgba(var(--bs-light-rgb), 1);
  border-radius: 5px;
  cursor: pointer;
}

/* Opcional: destacar el icono activo */
.step.active .step-number {
  background-color: #0d6efd; /* Azul Bootstrap */
  transform: scale(1.1);     /* Ligero aumento de tama침o */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

















.step-number {
  position: absolute;
  left: -31px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.step-label {
  margin-left: 10px;
  font-weight: 500;
  padding: 5px 10px;
}

.step-label:hover {
  font-weight: 600;
  background-color: rgba(var(--bs-light-rgb), 1);
  border-radius: 5px;
  cursor: pointer;
}
