<app-base-page
  [pageTitle]="'Security in Angular'"
  [steps]="steps"
>
  <!--WHATSECTION-->
  <app-section
    [sectionId]="'whatSection'"
    [sectionLabel]="'Intro'"
    [sectionTitle]="'Understanding Security in Angular'"
    [sectionContent]="'Security is a critical aspect of web development. In Angular, there are several built-in features and best practices to help ensure your application is secure against common vulnerabilities.'"
  >
    <app-sc-code-snippet
      [code]="tsExample"
      language="typescript"
    >
    </app-sc-code-snippet>
  </app-section>
  <!--XSSSECTION-->
  <app-section
    [sectionId]="'XSSSection'"
    [sectionLabel]="'XSS'"
    [sectionTitle]="'Understanding Security in Angular'"
    [sectionContent]="'Security is a critical aspect of web development. In Angular, there are several built-in features and best practices to help ensure your application is secure against common vulnerabilities.'"
  >
    <app-sc-code-snippet
      [code]="tsExample"
      language="typescript"
    >
    </app-sc-code-snippet>
  </app-section>
</app-base-page>
