<div class="container myTables">
  <h1>Tables with FOR</h1>
  <br/>
  <button type="button" class="btn btn-warning">Add new user</button>
  <br/>
    <br/>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of users; track item.id) {
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.birthDate}}</td>
          <td>
            <button type="button" class="btn btn-warning">View</button>
            <button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      }

    </tbody>
  </table>
</div>
